.navbox {
  flex: 1;
  /* height: 100%; */
  background-color: transparent;
  z-index: 2;
}

.navbox__link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  padding-left: 20px;
  border-left: 2px solid #ddd;
}

.navlink {
  text-decoration: none;
  font-size: 2rem;
  color: #fefefe;
  transition: font-size 0.25s ease-in-out;
}

.navlink:focus,
.navlink:active,
.navlink:visited {
  color: #fefefe;
}

.navlink.active {
  font-size: 4rem;
}

/* Small screens (mobile devices) */
@media screen and (max-width: 1023px) {
  .navbox__link-container {
    width: 1023px;
    max-width: 90%;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .navlink {
    width: 90px;
    font-size: 1.5rem;
    text-align: center;
  }
  .navlink.active {
    font-size: 1.5rem;
    border-bottom: 1px #ddd solid;
  }
}

/* Large screens (desktops and larger) */
@media screen and (min-width: 1024px) {
}
