.skills {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-heading {
  color: #fff;
  font-size: 3rem;
}

.skills-content {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  overflow: hidden;
  transform: rotateX(45deg) rotateY(6deg) rotateZ(-30deg);
  padding: 2rem 0;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(32, 75, 177, 0.5) 0%,
    rgba(215, 122, 255, 0.5) 100%
  );
  box-shadow: #522b99 -30px 30px 200px;
  backdrop-filter: blur(10px);
}

.skills-content::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100px;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.skills-content::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100px;
  z-index: 1;
  backdrop-filter: blur(10px);
}

/* Media query for screens with a maximum width of 767px (e.g., mobile phones) */
@media (max-width: 767px) {
  .skills-content {
    width: 95vw;
    transform: none;
  }
  .skills-content::before,
  .skills-content::after {
    display: none;
  }
}

/* Media query for screens between 768px and 1023px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Media query for screens with a minimum width of 1024px (e.g., desktops) */
@media (min-width: 1024px) {
}
