* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  cursor: default;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #080f0f;
}

/* Small screens (mobile devices) */
@media screen and (max-width: 767px) {
  #root {
    /* Adjust properties for smaller screens */
    flex-direction: column;
    overflow-y: scroll;
  }
}

/* Medium screens (tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Large screens (desktops and larger) */
@media screen and (min-width: 1024px) {
}
